<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>管理者ログイン</title>
</head>
<body>
	<h1>管理者ログイン</h1>
	<form th:action="@{/admin/signin}" th:object="${adminForm}" method="post">
		<table border="1">
			<tr>
				<td>メールアドレス</td>
				<td>
					<input type="email" th:field="*{email}">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td>
					<input type="password" th:field="*{password}">
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
				</td>
			</tr>
		</table>
		<input type="submit" value="ログイン">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
	
	<!-- エラーメッセージ表示 -->
    <div th:if="${error != null}">
        <p th:if="${error != null}" th:text="${error}" style="color: red"></p>
    </div>
</body>
</html>